asgiref==3.7.2
attrs==23.2.0
certifi==2023.5.7
charset-normalizer==3.2.0
dj-database-url==2.0.0
Django==4.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.8
django-heroku==0.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.1
gunicorn==21.2.0
idna==3.4
inflection==0.5.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
packaging==23.1
Pillow==10.0.0
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3
PyYAML==6.0.1
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
whitenoise==6.5.0